.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  scroll-behavior: smooth;
}
.home-modal {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 200;
  position: fixed;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  backdrop-filter: blur(4px);
  justify-content: center;
}
.home-practices {
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  box-shadow: 0px 0px 25px -2px rgba(66, 68, 90, 0.4);
  align-items: center;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.home-heading {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.home-close {
  width: 24px;
  cursor: pointer;
  height: 24px;
  transition: 0.3s;
}
.home-close:hover {
  opacity: 0.5;
}
.home-grid {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: grid;
  align-items: flex-start;
  flex-direction: column;
  grid-template-columns: repeat(2, 1fr);
}
.home-section {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading01 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header01 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption {
  max-width: 385px;
  line-height: 24px;
}
.home-text {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image {
  width: 12px;
  object-fit: cover;
}
.home-section1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading02 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header02 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption1 {
  max-width: 385px;
  line-height: 24px;
}
.home-text01 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image01 {
  width: 12px;
  object-fit: cover;
}
.home-section2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading03 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header03 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption2 {
  max-width: 385px;
  line-height: 24px;
}
.home-text02 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image02 {
  width: 12px;
  object-fit: cover;
}
.home-section3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading04 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header04 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption3 {
  max-width: 385px;
  line-height: 24px;
}
.home-text03 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image03 {
  width: 12px;
  object-fit: cover;
}
.home-section4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading05 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header05 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption4 {
  max-width: 385px;
  line-height: 24px;
}
.home-text04 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image04 {
  width: 12px;
  object-fit: cover;
}
.home-section5 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-threeunits);
  border-color: #B4B9C6;
  flex-direction: column;
  border-top-width: 1px;
}
.home-heading06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header06 {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
}
.home-caption5 {
  max-width: 385px;
  line-height: 24px;
}
.home-text05 {
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.home-image05 {
  width: 12px;
  object-fit: cover;
}
.home-hero {
  width: 100%;
  height: 660px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  height: 83px;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
.home-left {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-logo {
  width: 165px;
  object-fit: cover;
}
.home-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-link {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link:hover {
  opacity: 0.5;
}
.home-link01 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
}
.home-link01:hover {
  opacity: 0.5;
}
.home-link02 {
  cursor: pointer;
  font-style: normal;
  transition: 0.3s;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
}
.home-link02:hover {
  opacity: 0.5;
}
.home-right {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-phone {
  gap: var(--dl-space-space-halfunit);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-width: 0px;
  flex-direction: row;
  justify-content: center;
}
.home-image06 {
  width: 18px;
  object-fit: cover;
}
.home-text06 {
  line-height: 24px;
}
.home-book {
  text-decoration: none;
  background-color: #5ba5da;
}
.home-image07 {
  width: 18px;
  object-fit: cover;
}
.home-text07 {
  font-family: "Inter";
}
.home-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.home-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 1000;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-image08 {
  height: 2rem;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-book1 {
  text-decoration: none;
}
.home-image09 {
  width: 18px;
  object-fit: cover;
}
.home-text12 {
  font-family: Inter;
}
.home-main {
  width: 100%;
  height: 581px;
  display: flex;
  z-index: 100;
  max-width: 1440px;
  align-items: stretch;
  padding-left: 103px;
  flex-direction: row;
  justify-content: space-between;
}
.home-image10 {
  width: 979px;
  height: 563px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-form {
  width: 49px;
  height: 458px;
  display: flex;
  background-color: #5ba5da;
}
.home-container02 {
  width: 464px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 458px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1560179707-f14e90ef3623?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDZ8fGNvbXBhbnl8ZW58MHx8fHwxNzE1NzU1NTI1fDA&ixlib=rb-4.0.3&w=500');
  background-position: center;
}
.home-form1 {
  width: 49px;
  height: 458px;
  display: flex;
  background-color: #eae8e4;
}
.home-container03 {
  flex: 0 0 auto;
  width: 487px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container04 {
  width: 487px;
  height: 458px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-caption6 {
  width: 440px;
  height: 104px;
  font-size: 18px;
  max-width: 600px;
  align-self: center;
  line-height: 27px;
}
.home-header07 {
  color: #e5e5eb;
  width: 437px;
  height: 249px;
  font-size: 62px;
  max-width: 750px;
  font-style: normal;
  font-weight: 600;
  line-height: 74px;
}
.home-book2 {
  width: 294px;
  height: 50px;
  background-color: #5ba5da;
}
.home-image11 {
  width: 18px;
  object-fit: cover;
}
.home-background {
  right: 0px;
  width: 1639px;
  bottom: 0px;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f99b34;
}
.home-practices1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: flex-start;
  padding-top: 77px;
  padding-left: 68px;
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-heading07 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  height: 462px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text18 {
  fill: #002F69;
  color: #002F69;
  width: 652px;
  font-size: 56px;
}
.home-text19 {
  fill: #002F69;
  color: #002F69;
  width: 531px;
  font-size: 18px;
  max-width: 385px;
  align-self: flex-end;
  line-height: 27px;
}
.home-why {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #5BA5DA;
}
.home-heading08 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text24 {
  fill: #EEEEF0;
  color: #EEEEF0;
  width: 1019px;
  font-size: 56px;
  align-self: center;
  text-align: center;
}
.home-header08 {
  fill: #EEEEF0;
  color: #EEEEF0;
  width: 728px;
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.home-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 164px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-caption7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-header09 {
  fill: #002F69;
  color: #002F69;
  width: 165px;
  height: 165px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
  margin-right: var(--dl-space-space-threeunits);
  background-color: #EAE8E4;
}
.home-header10 {
  fill: #002F69;
  color: #002F69;
  width: 165px;
  height: 165px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
  margin-right: var(--dl-space-space-threeunits);
  background-color: #EAE8E4;
}
.home-header11 {
  fill: #002F69;
  color: #002F69;
  width: 165px;
  height: 165px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
  margin-right: var(--dl-space-space-threeunits);
  background-color: #EAE8E4;
}
.home-header12 {
  fill: #002F69;
  color: #002F69;
  width: 165px;
  height: 165px;
  font-size: 24px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 36px;
  background-color: #EAE8E4;
}
.home-features {
  gap: 120px;
  width: 100%;
  height: 1198px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 70px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-container05 {
  flex: 0 0 auto;
  width: 407px;
  height: auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: center;
}
.home-section6 {
  width: 394px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-header13 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-heading09 {
  fill: #002F69;
  color: #002F69;
  width: 398px;
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  font-weight: 600;
}
.home-capton {
  fill: #002F69;
  color: #002F69;
  width: 271px;
  font-size: 18px;
  max-width: 600px;
  line-height: 27px;
}
.home-text42 {
  fill: #002F69;
  color: #002F69;
  line-height: 24px;
}
.home-image12 {
  width: 12px;
  object-fit: cover;
}
.home-image13 {
  width: 226px;
  height: 257px;
  margin-top: 75px;
  object-fit: cover;
  margin-right: 27px;
}
.home-image14 {
  width: 226px;
  height: 289px;
  margin-top: 44px;
  object-fit: cover;
  margin-right: var(--dl-space-space-twounits);
}
.home-image15 {
  width: 226px;
  height: 331px;
  object-fit: cover;
}
.home-header14 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container06 {
  width: 1260px;
  height: 407px;
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  justify-content: center;
}
.home-heading10 {
  fill: #EAE8E4;
  color: rgb(234, 232, 228);
  width: 407px;
  height: 408px;
  font-size: 56px;
  max-width: 600px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-sixunits);
  background-color: rgb(91, 165, 218);
}
.home-heading11 {
  fill: #002F69;
  color: rgb(0, 47, 105);
  width: 434px;
  height: 407px;
  font-size: 56px;
  max-width: 600px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-sixunits);
  background-color: rgb(238, 238, 240);
}
.home-heading12 {
  fill: #EAE8E4;
  color: rgb(234, 232, 228);
  width: 444px;
  height: 403px;
  font-size: 56px;
  max-width: 600px;
  align-self: flex-start;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  padding-top: var(--dl-space-space-sixunits);
  background-color: rgb(249, 155, 52);
}
.home-book3 {
  display: none;
}
.home-book4 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 692px;
  display: flex;
  max-width: 1440px;
  align-items: center;
  padding-top: 19px;
  border-color: #B4B9C6;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 29px;
  justify-content: center;
  border-bottom-width: 1px;
}
.home-heading13 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text55 {
  fill: #002F69;
  color: #002F69;
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-text56 {
  fill: #002F69;
  color: #002F69;
  font-size: 18px;
  max-width: 700px;
  text-align: center;
  line-height: 27px;
}
.home-form2 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-types {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-inputs {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 600px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-lower {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-button {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-book5 {
  width: 100%;
  background-color: #F99B34;
}
.home-text58 {
  font-size: 10px;
  max-width: 700px;
  text-align: left;
  line-height: 15px;
}
.home-text60 {
  color: #2461ff;
  font-style: normal;
  font-weight: 600;
}
.home-meet {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 120px;
  background-color: #EAE8E4;
}
.home-heading14 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text63 {
  fill: #002F69;
  color: #002F69;
  font-size: 56px;
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.home-list {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  max-width: 1440px;
  align-items: center;
  flex-direction: row;
}
.home-doctors {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-search {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 570px;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
.home-textinput4 {
  flex: 1;
  height: 100%;
}
.home-book6 {
  background-color: #5ba5da;
}
.home-download {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-footer {
  width: 100%;
  height: 374px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  background-color: #F99B34;
}
.home-left1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-brand {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: column;
}
.home-image16 {
  width: 165px;
  object-fit: cover;
}
.home-socials {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: 400px;
  align-items: flex-start;
  flex-direction: row;
}
.home-image17 {
  width: 24px;
  object-fit: cover;
}
.home-image18 {
  width: 24px;
  object-fit: cover;
}
.home-image19 {
  width: 24px;
  object-fit: cover;
}
.home-legal {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-copyright {
  color: rgb(255, 255, 255);
}
.home-right1 {
  gap: 140px;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home-list1 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header15 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.home-links1 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link03 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link03:hover {
  opacity: 0.5;
}
.home-link04 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link04:hover {
  opacity: 0.5;
}
.home-link05 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link05:hover {
  opacity: 0.5;
}
.home-link06 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link06:hover {
  opacity: 0.5;
}
.home-link07 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}
.home-link07:hover {
  opacity: 0.5;
}
.home-list2 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header16 {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-weight: 600;
}
.home-links2 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link08 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
}
.home-link08:hover {
  opacity: 0.5;
}
.home-link09 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.home-link09:hover {
  opacity: 0.5;
}
.home-link10 {
  color: rgb(255, 255, 255);
  width: 215px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.home-link10:hover {
  opacity: 0.5;
}
.home-legal1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: row;
}
.home-row {
  display: flex;
}
.home-copyright5 {
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.home-container08 {
  display: contents;
}
.home-container10 {
  display: contents;
}
.home-container12 {
  display: contents;
}
@media(max-width: 991px) {
  .home-hero {
    flex: 1;
    height: 0px;
  }
  .home-navbar {
    z-index: 1000;
  }
  .home-links {
    display: none;
  }
  .home-right {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-round);
    background-color: #2461FF;
  }
  .home-icon1 {
    fill: white;
  }
  .home-main {
    flex-direction: column;
  }
  .home-image10 {
    flex: 0 0 auto;
    align-items: flex-end;
    padding-right: var(--dl-space-space-twounits);
    justify-content: flex-end;
  }
  .home-caption6 {
    max-width: 75%;
  }
  .home-text13 {
    max-width: 75%;
  }
  .home-header07 {
    max-width: 75%;
  }
  .home-background {
    left: 0px;
    width: 100%;
    bottom: 0px;
    height: 55%;
    position: absolute;
    justify-content: flex-end;
  }
  .home-practices1 {
    flex-direction: column;
  }
  .home-heading07 {
    width: 811px;
    padding-right: 0px;
  }
  .home-text19 {
    margin-right: 0px;
  }
  .home-why {
    gap: var(--dl-space-space-threeunits);
  }
  .home-features {
    gap: var(--dl-space-space-threeunits);
  }
  .home-section6 {
    gap: var(--dl-space-space-twounits);
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-image13 {
    width: 100%;
  }
  .home-image14 {
    width: 100%;
  }
  .home-image15 {
    width: 100%;
  }
  .home-meet {
    padding-right: 0px;
  }
  .home-heading14 {
    padding-right: var(--dl-space-space-fiveunits);
  }
  .home-list {
    position: relative;
    flex-direction: column-reverse;
  }
  .home-doctors {
    overflow: hidden;
  }
  .home-search {
    gap: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-book6 {
    width: 100%;
  }
  .home-footer {
    gap: 100px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-left1 {
    padding-right: 0px;
  }
  .home-socials {
    display: none;
  }
  .home-legal {
    display: none;
  }
  .home-right1 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-legal1 {
    gap: var(--dl-space-space-twounits);
    display: flex;
    flex-direction: column;
  }
  .home-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .home-navbar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-burger-menu {
    display: flex;
  }
  .home-main {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-end;
    padding-left: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .home-caption6 {
    font-size: 16px;
    max-width: 70%;
    line-height: 24px;
  }
  .home-text13 {
    font-size: 16px;
    max-width: 70%;
    line-height: 24px;
  }
  .home-header07 {
    font-size: 32px;
    max-width: 70%;
    line-height: 38px;
  }
  .home-practices1 {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading07 {
    gap: var(--dl-space-space-unit);
  }
  .home-text18 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-text19 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-why {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-text24 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-header08 {
    font-size: 14px;
    max-width: 60%;
    line-height: 21px;
  }
  .home-content {
    gap: var(--dl-space-space-twounits);
  }
  .home-header09 {
    font-size: 22px;
    line-height: 33px;
  }
  .home-header10 {
    font-size: 22px;
    line-height: 33px;
  }
  .home-header11 {
    font-size: 22px;
    line-height: 33px;
  }
  .home-header12 {
    font-size: 22px;
    line-height: 33px;
  }
  .home-features {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-content1 {
    gap: var(--dl-space-space-unit);
  }
  .home-heading09 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-capton {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-heading10 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-heading11 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-heading12 {
    font-size: 30px;
    line-height: 36px;
  }
  .home-book3 {
    width: 100%;
    display: flex;
  }
  .home-book4 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading13 {
    gap: var(--dl-space-space-unit);
  }
  .home-text55 {
    font-size: 24px;
  }
  .home-text56 {
    font-size: 14px;
    max-width: 80%;
    line-height: 21px;
  }
  .home-form2 {
    gap: var(--dl-space-space-threeunits);
  }
  .home-types {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-inputs {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-meet {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading14 {
    gap: var(--dl-space-space-unit);
    padding-right: 0px;
  }
  .home-text63 {
    font-size: 24px;
  }
  .home-list {
    gap: var(--dl-space-space-twounits);
  }
  .home-doctors {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-search {
    padding-right: 0px;
  }
  .home-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-image16 {
    width: 110px;
  }
}
@media(max-width: 479px) {
  .home-navbar {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-container02 {
    max-height: 500px;
  }
  .home-caption6 {
    max-width: 100%;
  }
  .home-text13 {
    max-width: 100%;
  }
  .home-header07 {
    max-width: 80%;
  }
  .home-book2 {
    width: 100%;
  }
  .home-types {
    flex-direction: column;
  }
}
